img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  border-color: rgb(161, 159, 159);
  border-style: dashed;
  
}
a {
  text-decoration: none;
  color: royalblue;
  cursor: pointer;
}
a:hover {
  color: sandybrown;
  transform: scale(-1);
}
.menu {
  /* display: block; */
  padding-bottom: 20px;
  font-size: 2rem;
  text-transform: capitalize;
  text-align: center;
}
img:hover {
  color: skyblue;
}
.gallery{
    text-align: center;
    
}
*{
    box-sizing: border-box;
}
